* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /*Reset CSS*/
}

:root { /*Variáveis para o nosso CSS*/
    --colorf: #ffffff;
    --color1: #111111;
    --color2: #222222;
    --color3: #333333;
    --color4: #444444;
}

body {
    background: var(--color2);
    color: var(--colorf);
    font-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer  {
    background-color: var(--color1);
}

.corpo {
    background-color: var(--color3);
    width: 70%;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}

.cabecalho  {
    background-color: var(--color4);
    height: 140px;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-around;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}

.logo_header {
    height: 120px;
}

.menu_texto  {
    padding: 20px;
}
