
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /*Reset CSS*/
}

:root { /*Variáveis para o nosso CSS*/
    --azul_escuro: #103d5c; /*header*/
    --azul_medio: #536582; /*footer*/
    --azul_claro: #869ca9; /*body*/
    --azul_palido: #e6e7e2; /*corpo*/
    --branco: #ffffff; /*branco*/
    --marrom_claro: #4b3b3a; /*marrom*/
    --marron_escuro: #2b2b2b; /*fonte escura*/
    --areia: #c9a795; /*areia*/
    --vermelho: #a6252b; /*vermelho*/
}

body {
    background: var(--azul_claro);
    color: var(--branco);
    font-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.corpo {
    background-color: var(--azul_palido);
    width: 70%;
    margin-top: 6px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}

.cabecalho  {
    background-color: var(--azul_escuro);
    height: 140px;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-around;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}

.logo_header {
    height: 120px;
}

.menu_texto {
    color: var(--branco);
    padding: 20px;
}

main {
    background-color: var(--azul_palido);
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.secoes {
    width: 96%;
    height: 400px;
    background-color: var(--azul_palido);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bloco1 {
    background-color: var(--branco);
    width: 48%;
}

.bloco2 {
    background-color: var(--branco);
    width: 48%;
}

footer  {
    background-color: var(--azul_medio);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sociais {
    background-color: var(--azul_medio);
    height: 60px;
    width: 60%;

}

.logo_footer {
    height: 40px;
}